.viewpost-wrapper {
    margin-top: 2rem;
    height: fit-content;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
    width: 300px;
}
.viewpost-wrapper h2 {
    font-size: 1.3em;
    text-align: left;
}
.viewpost-wrapper p{
    font-size: 1em;
    color: black;
   
}
.viewpost-wrapper h5{
    font-size: 1.1em;
}

.blogs-links {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3rem;
    
}
.blogs-links a:first-child {
    margin-bottom: 3rem;
}
.blogs-links a {
    color: black;
    font-size: 1.5em;
    
    text-decoration: underline;
    
    
}

.blabla-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}