.post-wrapper {
    padding: 0.1rem;
    background-color: white;
    width: 400px;
    height: 100px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
}

.post-wrapper * {
    color:black;
}
.post-wrapper h3 {
    font-size: 1.2em;
    text-decoration: underline;
    
}
.post-wrapper p {
    font-size: 0.8em;
    font-weight: 10;
    color: #312a2a;
}
.post-wrapper h6 {
    font-size: 1em;
    color: #6d6234;
}



