.shoppinglist-topnav {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    min-width: 300px;
}

.shoppinglist-topnav h2 {
   
    color: var(--text-color);
}
.shoppinglist-topnav small {
    font-size: 1em;
    color:var(--text-color);
}

.icon {
    color:var(--text-color);
}
